<div class="sideBar py-6 bg-light">
  <section>
    <a class="ps-6 mb-6" href="index.html">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
        alt="logo">
    </a>
    <ul class="sideBar_list list-unstyled">
      <li class="sideBar_item py-1 mb-3 ps-6">
        <a class="text-dark d-flex" href="#">
          <span class="material-icons me-3">
            assessment
          </span>
          Dashboard
        </a>
      </li>
      <li class="sideBar_item py-1 mb-3 ps-6">
        <a class="text-dark d-flex" href="#">
          <span class="material-icons me-3">
            question_answer
          </span>
          Question
        </a>
      </li>
      <li class="sideBar_item py-1 mb-3 ps-6 bl-4">
        <a class="text-dark ms--4 d-flex" href="#">
          <span class="material-icons me-3 text-success">
            assignment
          </span>
          <p class="text-success fw-bold">Assignment</p>
        </a>
      </li>
      <li class="sideBar_item py-1 mb-3 ps-6">
        <a class="text-dark d-flex" href="#">
          <span class="material-icons me-3">
            video_library
          </span>
          Course
        </a>
      </li>
      <li class="sideBar_item py-1 mb-3 ps-6">
        <a class="text-dark d-flex" href="#">
          <span class="material-icons me-3">
            supervisor_account
          </span>
          Admin
        </a>
      </li>
      <li class="sideBar_item py-1 ps-6">
        <a class="text-dark d-flex" href="#">
          <span class="material-icons me-3">
            settings
          </span>
          Settings
        </a>
      </li>
    </ul>
  </section>
  <div class="sideBar_footer ps-6 d-flex align-items-center" href="#">
    <a href="#">
      <img class="me-3"
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
        alt="andychen">
    </a>
    <div class="footer_textGroup">
      <p class="fw-bold text-dark">Andy Chen</p>
      <a class="fs-7 text-secondary" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
    </div>
  </div>
</div>