.sideBar {
  min-width: 296px;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a,
  span {
    display: block;
  }

  &_item {
    font-weight: bold;


    &:hover {
      border-left: 4px solid #198754;
    }
  }

  &_footer {
    img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}